<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532403702970-mjaa493s8jgmh6lvlau168b17mu1sgaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532403702970-mjaa493s8jgmh6lvlau168b17mu1sgaf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>532403702970-b13dc3g7n1b1umi579i5rbkak8jgjbe0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALaVpA2k5XZQOejLmYkVEb-wWM5nH5rs8</string>
	<key>GCM_SENDER_ID</key>
	<string>532403702970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-9ef9e</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-9ef9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532403702970:ios:d5f2d5cfa9456346574683</string>
</dict>
</plist>